
.employeeHeader {

  &__content {
    display: flex;
    margin-left: 109px;
    margin-top: -35px;
  }

  &__img {
    display: block;
    width: 187px;
    height: 187px;
    margin-right: 32px;
    object-fit: cover;
    border-radius: 100%;
    background: red;
  }

  &__text {
    margin-top: 29px;
  }

  &__textName {
    font-size: 64px;
    color: #fff;
  }

  &__textStatus {
    margin-top: 16px;
    font-size: 32px;
    color: #fff;
  }
}

.employee {
  display: block;

  &__content {
    display: flex;
    gap: 129px;
    max-width: 979px;
    padding-left: 109px;
    padding-top: 49px;

  }

  &__desc {
    max-width: 630px;
    font-size: 16px;
    line-height: 136.187%;
    color: #151317;

    p {
      margin-bottom: 16px;
    }
  }

  &__connect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 72px;
    flex-shrink: 0;
  }

  &__connectItem {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #151317;
    text-decoration: none;

    svg {
      margin-right: 8px;
    }
  }
}

@media(max-width: 900px) {
  .employeeHeader {

    &__content {
      justify-content: center;
      align-items: center;
      margin-left: 0;
    }

  
    &__text {
      text-align: center;
      margin-top: 0;
    }
  
    &__textName {
      font-size: 42px;
    }
  
    &__textStatus {
      font-size: 34px;
    }
  }

  .employee {

    &__content {
      padding-left: 0;
    }
  }  
}

@media(max-width: 767px) {
  .employeeHeader {

    &__content {
      flex-direction: column-reverse;
    }

    &__img {
      margin-right: 0;
      margin-top: 16px;
    }

  }
}

@media(max-width: 540px) {
  .employeeHeader {

    &__content {
      margin-top: 12px;
    }

    &__text {
      text-align: center;
      margin-top: 0;
    }
  
    &__textName {
      font-size: 36px;
    }
  
    &__textStatus {
      font-size: 20px;
    }
  }
    
}

@media(max-width: 768px) {
  .employee {

    &__content {
      display: flex;
      flex-direction: column-reverse;
      gap: 34px;
      max-width: 979px;
      margin: 0 auto;
      padding: 33px 0;
  
    }
  
    &__desc {
      max-width: 630px;
      font-size: 16px;
      line-height: 136.187%;
      color: #151317;
    }
  
    &__connect {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 72px;
      flex-shrink: 0;
    }
  
    &__connectItem {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #151317;
      text-decoration: none;
  
      svg {
        margin-right: 8px;
      }
    }
  }
    
}