@import '../../style/var';

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registerForm {
  width: 500px;
  padding: 16px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

  &__title {
    font-size: 20px;
    font-weight: 400;
  }

  &__input {
    display: block;
    width: 100%;
    margin-top: 8px;
  }

  &__button {
    display: block;
    width: 100%;
    margin-top: 24px;
    padding: 8px 12px;
    border: none;
    background: #51268963;
    line-height: 32px;
    color: #FFF;
  }

  &__icon {
    display: block;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .notActive {
    stroke: #80818570;
  }

  .notDisabled {
    background: $mainColor;
  }
}


