.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 16px;
  font-size: 54px;
  color: teal;
  text-align: center;
}

@media(max-width: '554px') {
  .notification {
    font-size: 24px;
  }
}