@import '../../style/var';

.header {
  min-height: 265px;
  padding: 32px 0 39px;
  background: $mainColor;
}

.svg {
  fill: #F8F8F8;
}

.nav {
  display: flex;
  justify-content: space-between;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #F8F8F8;
    background: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #F8F8F8;
    
    &_hidden {
      background:transparent;
      color: transparent;
      border: transparent;
      
      & .svg {
        fill: transparent;
      }
    }
  }
}

@media(max-width: 425px) {
  .header {
    padding: 12px 0 64px;
  }

  .nav {

    &__btn {
      padding: 0;
      border: none;
      width: 40px;
      height: 40px; 
      line-height: 10px;
    }
  }
}
