@import '../../style/var';

.employeesItem {
  padding: 36px 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 0.99605px 3.98418px 0px rgba(51, 51, 51, 0.15);

  &__img {
    display: block;
    width: 124px;
    height: 124px;
    margin: 0 auto;
    background: red;
    border-radius: 50%;
  }

  &__name {
    margin-top: 16px;
    font-size: 20px;
    text-align: center;
    color: #151317;
  }

  &__wrapperLike {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 28px;
    margin: 16px 0 0 auto;
    border: none;
    background: #F8F8F8;
    border-radius: 4px;
  }
}